*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #fcfcfc;
    font-family: sans-serif;
}
#hdr{
color:#Fff;
font-size:80px;
font-weight: 300;
width: 90vw;
height: 680px;
margin-left: 77px;
margin-top: 79px;
background: linear-gradient(180deg, #05283E -23.09%, rgba(9, 67, 103, 0) 107.85%),url(assets/header1.png);
mix-blend-mode: normal;
background-size: contain;
background-repeat:  no-repeat;
resize: both;
}
 nav{
    width: 100%;
    height: 30px;
    background: linear-gradient(180deg, #05283E -23.09%, rgba(9, 67, 103, 0) 107.85%);

 }
#v2_3{
    font-size: 40px;
    font-family:ITC Avant Garde Gothic Std ;
    font-weight: 300;
    text-align: left;
    margin-left: 10%;
}
.v2_34{
    float:right;
    margin-right:20% ;
    /* text-align: right; */
}
 .v2_35{
    display:flex;
    text-align: center;
    margin-top: 10%;
    gap: 100px;
    padding:50px;
    margin-left:120px;

 }
 .v2_36{
    display: block;
 }
 .v2_4{
    font-size: 100px;
 }
 .v2_40{
    font-size: 100px;
    font-weight: 300;
    color:red;
 }
 #v6{
    background-color:#F9F9F9 ;
    width:100%;
    height: 594px;
    background: url(assets/pngwing3.png) left bottom no-repeat,url(assets/pngwing2.png) right top no-repeat;
  
}
#v61{
   padding-top: 100px;
   margin-left: 26%;

     
}
 .v2_6{
    font-family: ITC Avant Garde Gothic Std;
    font-size: 50px;
    text-align:center;
   
 }

 .vl {
    border-left: 2px solid gainsboro;
    height: 90px;
    margin-bottom: 30px;
    background-image: ;
  }
  #card{
    display: flex;
    width: 100%;
    height: 450px;
    margin-left: 33%;
  }
  #ind{
    
    height:1200px;
    width:100%;
    padding:200px;
 
  }
  #mc{
    height:800px;
    width:100%;
    background: url(assets/chester.png),url(assets/Rectangle469.png);
  background-size: cover;
  padding: 50px;
}
  #brand{
    height:400px;
    width:100%;
    text-align: center;
    padding:100px;
    background-color: white;
  }
 #conct{
    display: flex;
  
    
 }
 #c1{
    width: 50vw;
    height:700px;
    background-color:#0E3466 ;
    display: flex;
    flex-direction: column;
   
 }
 #c1 h2{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    text-align: left;
    color:#F9F9F9;
    padding:60px;
    
 }
 #c1 input{
    padding:18px;
    width:50%;
    margin:10px;
    margin-left: 50px;
    border-radius: 8px;

 }
 #c2{
    width: 50vw;
    height:700px;
    background-color:#F8F8F8 ;
 }
 #ad{
    height:550px;
    width:700px;
    margin-left:-10%;
    margin-top:50px;
    display:flex;
 }
 #adl{
    width:35%;
    background-color:#fefdfd;
    color: gray;
    padding:12px;
    font-family: AvertaStd-Light;
    gap: 30px;
    
 }
 #adl b
 #adl h4{
    color:#111;
    font-family: AvertaStd-Regular;
 }
 #adlr{
    margin:100px;
 }
 #adl hr{
    margin:10px
    color:gray;
 }
 #adr{
    background:url(assets/image14.png) right bottom no-repeat,url(assets/image13.png);
    width:65%;
 }

footer{
   
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100%;
    padding-top: 40px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:40px;
}

#cl1{
    padding:30px;
    margin-left:30px;
    list-style-type: none;
    font-family: ITC Avant Garde Gothic Std;
    font-weight: 500;
    font-size: 15px;
}
#cl2{
    margin-left:20px;
    margin-top:30px;
    display: flex;
    font-family: ITC Avant Garde Gothic Std;
    font-weight: 500;
    gap:40px;
}
.socials {
    list-style-type: none;
    display:flex;
    gap:20px;
    margin-right: 20%;
}
.foo{
   text-align: right;
   font-family: ITC Avant Garde Gothic Std;
    font-weight:100;
    
    
}